<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>$title$</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/skeleton/skeleton.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="/js/highlight/styles/solarized_dark.css">
  <meta name="viewpoint" content="initial-scale=1.0">
</head>

<body>
  <div id="site-wrap">
    <div id="contents" role="main">
      $body$
    </div>
  </div>

  <footer id="footer">
    <div class="contents">
      <div class="container">
        <div class="row">
          <div class="one-half column">
            <div id="milestoneeee">
              <a href="http://335g.github.io">
                milestoneeee
              </a>
            </div>
          </div>
          <div class="one-half column">
            <div id="copyright">
              2015 © 335g .
            </div>
            <div id="sns">
              <a href="http://github.com/335g">
                <i class="fa fa-github-alt fa-lg"></i>
              </a>
              <a href="http://twitter.com/335g">
                <i class="fa fa-twitter fa-lg"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script src="/js/highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
