
#header a:link { color: #000000; text-decoration: none; }
#header a:visited { color: #000000; text-decoration: none; }
#header a:hover { color: #000000; text-decoration: none; }
#header a:active { color: #000000; text-decoration: none; }

#footer a:link { color: #909090; text-decoration: none; }
#footer a:visited { color: #909090; text-decoration: none; }
#footer a:hover { color: #909090; text-decoration: none; }
#footer a:active { color: #909090; text-decoration: none; }

.post-title a:link { color: #000000; }
.post-title a:visited { color: #000000; }
.post-title a:hover { color: #000000; }
.post-title a:active { color: #000000; }

div { 
  display: block;
}

html {
  font-size: 10px;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

.p1 { padding: 1rem; }
.p2 { padding: 2rem; }
.p3 { padding: 3rem; }
.p4 { padding: 4rem; }
.p5 { padding: 5rem; }

.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }
.mt7 { margin-top: 7rem; }

#site-wrap {
  min-height: 100%;
}

#site-wrap:after {
  content: "";
  display: block;
}

footer {
  background-color: #FAFAFA;
  text-align: center;
  color: #909090;
  border-top: thin solid #F0F0F0;
}

.post-title {
  font-style: normal;
  font-weight: 700;
}

.posted-date {
  font-style: italic;
  font-weight: 400;
}

.post-description {
  font-style: normal;
  font-weight: 400;
}

#copyright, #sns {
  display: inline;
}

/** responsive **/

@media (min-width:  300px){ 
  body { font-size: 1.8rem; }
  #footer .contents{ font-size: 2.0rem; padding: 4.25rem 0.0rem; }
  #site-wrap{ margin-bottom: -15.0rem; }
  footer, #site-wrap:after{ height: 15.0rem; }
  #contents{ padding: 5.0rem 0.5rem 2.0rem; }
  .post-title { font-size: 2.0rem; }
  .posted-date { font-size: 1.4rem; }
  .post-description { font-size: 1.4rem; padding-left: 2.7rem; }
}
@media (min-width:  400px){ 
  body { font-size: 1.6rem; }
  #footer .contents{ font-size: 2.0rem; padding: 4.25rem 0.0rem; }
  #site-wrap{ margin-bottom: -15.0rem; }
  footer, #site-wrap:after{ height: 15.0rem; }
  #contents{ padding: 5.0rem 1.0rem 2.0rem; }
  .post-title { font-size: 2.0rem; }
  .posted-date { font-size: 1.4rem; }
  .post-description { font-size: 1.4rem; padding-left: 2.7rem; }
}
@media (min-width:  550px){ 
  body { font-size: 1.4rem; }
  #footer .contents{ font-size: 2.0rem; padding: 4.25rem 0.0rem; }
  #site-wrap{ margin-bottom: -15.0rem; }
  footer, #site-wrap:after{ height: 15.0rem; }
  #contents{ padding: 5.0rem 2.0rem 2.0rem; }
  .post-title { font-size: 2.0rem; }
  .posted-date { font-size: 1.4rem; }
  .post-description { font-size: 1.4rem; padding-left: 2.7rem; }
}
@media (min-width:  750px){ 
  body { font-size: 1.2rem; }
  #footer .contents{ font-size: 1.4rem; padding: 4.3rem 0.0rem; }
  #site-wrap{ margin-bottom: -10.0rem; }
  footer, #site-wrap:after{ height: 10.0rem; }
  #contents{ padding: 5.0rem 5.0rem 2.0rem; }
  .post-title { font-size: 2.0rem; }
  .posted-date { font-size: 1.4rem; }
  .post-description { font-size: 1.4rem; padding-left: 2.7rem; }
}
@media (min-width: 1000px){ 
  body { font-size: 1.2rem; }
  #footer .contents{ font-size: 1.4rem; padding: 4.3rem 0.0rem; }
  #site-wrap{ margin-bottom: -10.0rem; }
  footer, #site-wrap:after{ height: 10.0rem; }
  #contents{ padding: 5.0rem 5.0rem 2.0rem; }
  .post-title { font-size: 2.0rem; }
  .posted-date { font-size: 1.4rem; }
  .post-description { font-size: 1.4rem; padding-left: 2.7rem; }
}
@media (min-width: 1200px){ 
  body { font-size: 1.2rem; }
  #footer .contents{ font-size: 1.4rem; padding: 4.3rem 0.0rem; }
  #site-wrap{ margin-bottom: -10.0rem; }
  footer, #site-wrap:after{ height: 10.0rem; }
  #contents{ padding: 5.0rem 5.0rem 2.0rem; }
  .post-title { font-size: 2.0rem; }
  .posted-date { font-size: 1.4rem; }
  .post-description { font-size: 1.4rem; padding-left: 2.7rem; }
}

