
#header a:link { color: #000000; text-decoration: none; }
#header a:visited { color: #000000; text-decoration: none; }
#header a:hover { color: #000000; text-decoration: none; }
#header a:active { color: #000000; text-decoration: none; }

#footer a:link { color: #909090; text-decoration: none; }
#footer a:visited { color: #909090; text-decoration: none; }
#footer a:hover { color: #909090; text-decoration: none; }
#footer a:active { color: #909090; text-decoration: none; }

.post-title a:link { color: #000000; }
.post-title a:visited { color: #000000; }
.post-title a:hover { color: #000000; }
.post-title a:active { color: #000000; }

div { 
  display: block;
}

html {
  font-size: 1.0rem;
}

html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
  box-sizing: border-box;
  -webkig-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.p1 { padding: 1rem; }
.p2 { padding: 2rem; }
.p3 { padding: 3rem; }
.p4 { padding: 4rem; }
.p5 { padding: 5rem; }

.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }
.mt7 { margin-top: 7rem; }

#site-wrap {
  min-height: 100%;
}

#site-wrap:after {
  content: "";
  display: block;
}

footer {
  background-color: #FAFAFA;
  text-align: center;
  color: #909090;
  border-top: thin solid #F0F0F0;
}

.post-title {
  font-style: normal;
  font-weight: 700;
}

.posted-date {
  font-style: italic;
  font-weight: 300;
  color: #909090;
}

.post-description {
  font-style: normal;
  font-weight: 400;
}

#copyright, #sns {
  display: inline;
}

@media screen and (max-width: 768px){ 
  body { fot-size: 2.0rem; }
  #footer .contents{ font-size: 3.5rem; padding: 0.0rem 0.0rem; }
  #site-wrap{ margin-bottom: -15.0rem; }
  footer, #site-wrap:after{ height: 15.0rem; }
  #contents{ padding: 2.0rem 1.0rem; }
  h2.post-title { font-size: 4.50rem; margin-bottom: 1.5rem; padding-right: 1.5rem; }
  .posted-date { font-size: 2.0rem; }
  .post-description { font-size: 2.5rem; padding: 0.0rem 0.0rem 6.0rem 3.0rem; }

  
}

@media screen and (min-width: 769px) { 
  body { font-size: 1.0rem; }
  #footer .contents{ font-size: 1.5rem; padding: 4.25rem 0.0rem; }
  #site-wrap{ margin-bottom: -15.0rem; }
  footer, #site-wrap:after{ height: 15.0rem; }
  #contents{ padding: 2.0rem 1.0rem; }
  h2.post-title { font-size: 2.0rem; margin-bottom: 0.5rem; padding-right: 1.5rem; }
  .posted-date { font-size: 1.0rem; }
  .post-description { font-size: 1.125rem; padding: 0.0rem 0.0rem 3.0rem 2.7rem; }
}
