
#header a:link { color: #000000; text-decoration: none; }
#header a:visited { color: #000000; text-decoration: none; }
#header a:hover { color: #000000; text-decoration: none; }
#header a:active { color: #000000; text-decoration: none; }
#footer a:link { color: #909090; text-decoration: none; }
#footer a:visited { color: #909090; text-decoration: none; }
#footer a:hover { color: #909090; text-decoration: none; }
#footer a:active { color: #909090; text-decoration: none; }

.p1 { padding: 1rem; }
.p2 { padding: 2rem; }
.p3 { padding: 3rem; }
.p4 { padding: 4rem; }
.p5 { padding: 5rem; }

.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }
.mt5 { margin-top: 5rem; }
.mt6 { margin-top: 6rem; }
.mt7 { margin-top: 7rem; }

div { display: block; }

html, body {
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

#site-wrap {
  min-height: 100%;
  margin-bottom: -100px;
}

footer, .site-wrap:after {
  height: 100px;
  background-color: #FAFAFA;
}

.wrap {
  margin-left: auto;
  margin-right: auto;
}

footer, footer .wrap {
  background-color: #FAFAFA;
  text-align: center;
  color: #909090;
}

footer {
  border-top: thin solid #F0F0F0;
}

#contents {
  padding: 3rem 3rem 1rem;
}

.post-title {
  font-style: normal;
  font-size: 2.0rem;
  font-weight: 700;
}

.post-title a:link { color: #000000; }
.post-title a:visited { color: #000000; }
.post-title a:hover { color: #000000; }
.post-title a:active { color: #000000; }

.posted-date {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 400;
}

.post-description {
  font-style: normal;
  font-size: 1.4rem;
  font-weight: 400;
  padding-left: 2.7rem;
}
